$primary-color: #A31B7C;
$disabled-color: #cccccc;

$event-calendar-primary-color: #3b6dac;
$title-gray: #f0f7fc;
$background-color: #e1e8ed;
$text-gray: #979eab;
$text-dark-gray: #655e54;
$event-button-color: #23c6a0;
$side-bar-btn-color: #5cbcff;
$place-button-color: #eec30d;

$pinned-border-color: #23c6a0;

$navigator-text-bg-color: #f2dbeb;
$navigator-row-bg-color: #9bd53e;
$navigator-accordion-data-row-bg-color: #e6e6e6;

$background-red: #fe4445;
$background-dark-blue: #49659f;
$background-orange: #ffbb34;
$trip-orange: #ff8834;
