<!--The content below is only a placeholder and can be replaced.-->
<header class="full-height">
  <nav class="navbar fixed-top scrolling-navbar" [ngClass]="{'top-nav-collapse':isScroll}">
    <div class="container">
      <a class="navbar-brand" href="#"><strong>Find self</strong></a>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link active" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
          <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
      </div>
      <app-weather></app-weather>
    </div>
  </nav>
  <section class="view hm-gradient full-height" id="intro">
    <div class="full-bg-img full-height d-flex align-items-center">
      <div class="container content full-height">
        <div class="row no-gutters">
          <div class="col-md-10 col-lg-6 text-center text-md-left margins">
            <div class="white-text">
              <div class="wow fadeInLeft" data-wow-delay="0.3s">

                <svg width="240" height="100" viewBox="0 0 240 100" xmlns="http://www.w3.org/2000/svg">
                  <text x="20" y="35" class="small">My</text>
                  <text x="50" y="35" class="heavy">cat</text>
                  <text x="65" y="55" class="small">is</text>
                  <text x="75" y="55" class="Rrrrr">Grumpy!</text>
                </svg>
              </div><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>

<div class="">
  <app-content></app-content>
</div>
<router-outlet></router-outlet>