#intro {
  background: url("../../assets/images/IMG_20180821_1915211.jpg") no-repeat
    center center;
  background-size: cover;
}
nav {
  display: flex !important;
  color: #fff !important;
  -webkit-transition: 0.35s !important;
  transition: 0.35s !important;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.top-nav-collapse {
  background-color: #3949ab !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important;
  }
}

@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: rgba(42, 27, 161, 0.7);
  background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.3),
    rgba(29, 210, 177, 0.3) 100%
  );
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#pricing .lead {
  opacity: 0.7;
}

//   #pricing .card-image {
//     background: url("../img/architecture.jpg") no-repeat center center;
//   }

#pricing ul li {
  font-size: 1.1em;
}

@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navbar.scrolling-navbar {
  z-index: 100;
}
.navbar {
  font-weight: 300;
  padding-right: 1rem !important;
}
.badge,
.btn,
.card:not([class*="card-outline-"]),
.chip,
.jumbotron,
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs,
.modal-dialog.modal-notify .modal-header,
.navbar,
.pagination .active .page-link,
.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media (min-width: 992px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.navbar > .container,
.navbar > .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #ffffff;
  width: 100%;
}

.navbar .navbar-brand {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  overflow: visible;
  color: #ffffff;
  font-size: x-large;
  text-decoration: none;
}

.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar {
  font-weight: 300;
  padding-right: 1rem !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  padding-left: 0;
  margin: 4px;
  list-style: none;
}

.navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  padding-left: 24rem;
}

.navbar-nav li {
  padding-right: 1rem;
  padding-left: 1rem;
  a {
    transition: 0.35s;
    color: #ffffff;
    text-decoration: none;
    font-size: x-large;
  }
}

.content {
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.small {
  font: italic 20px sans-serif;
}
.heavy {
  font: bold 30px sans-serif;
}

/* Note that the color of the text is set with the    *
 * fill property, the color property is for HTML only */
.Rrrrr {
  font: italic 40px serif;
  fill: red;
}
