.container {
    position: relative;
    width: 480px;
    height: 320px;
    overflow: hidden;
  }
  
  .item {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .item img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  
  .container:hover .item img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }